/*-----------------------------------------------------------------------------
| Copyright (c) Jupyter Development Team.
| Copyright (c) 2014-2017, PhosphorJS Contributors
|
| Distributed under the terms of the BSD 3-Clause License.
|
| The full license is in the file LICENSE, distributed with this software.
|----------------------------------------------------------------------------*/


.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  /*padding: 8px;*/
  border: 1px solid #C0C0C0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.urlbar {
  display: flex;
  flex-direction: row;
}
.urlbar input.url {
  flex-grow: 10;
}
.urlbar input.fragment {
  flex-grow: 1;
}
.cc-frame {
  position: relative;
}
.cc-frame video {
  max-width: 100%;
}
.cc-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.cc-frame .eyelid {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background: #FF000000;
  display: none;
}
.cc-frame .eyelid.visible {
  display: block;
}


.CodeMirror {
  height: 100%;
}

.content > div {
  flex: 1 1 auto;
  /*border: 1px solid #C0C0C0;*/
  overflow: auto;
}


.content  input {
  margin: 8px;
}


.red > div {
  background: #E74C3C;
}


.yellow > div {
  background: #F1C40F;
}


.green > div {
  background: #27AE60;
}


.blue > div {
  background: #3498DB;
}



